<div class="forgot_password">

  <%= form_tag password_path(@conn, :request_reset) do  %>
    <div class="forgot_email">
      <h3>Please Enter your email.</h3>
      <input type="email" name="email_address" value="">
      <input type="submit" name="name" value="Submit">
    </div>
  <% end %>

</div>
