<div class="">
  <%= form_tag update_password_url(@user), method: :put do  %>
    <h3>Upon Submitting you will be logged out and be requred to log back in.</h3>
    <div class="forgot_email">
      <h3>Please enter your new password.</h3>
      <input type="password" name="password" value="">
      <input type="password" name="confirm_password" value="">
      <input type="submit" name="name" value="Submit">
    </div>

  <% end %>
</div>
