<div>
  <p>Hello <%= @name %></p>
  <br>
  <p>You requested that an email address change to your account at SRE.com
    Please verify this change by clicking the link below </p>
  <%= link @verify_link, to: @verify_link %>

  <br>
  Thank You,
  SRE.com
</div>
