// *******************************************
// *******************************************

    // GreatSchools school rating component

// *******************************************
// *******************************************

// @vars
$grid-col-width-basis : $unit-grid-col-width-basis; // settings/layout-units
$unit-grid-gutter     : $unit-grid-gutter; // settings/layout-units
$gs-rating-colors     : $gs-rating-colors; // settings/colors

.gs-rating {
    display     : flex;
    align-items : center;
    margin      : rem-calc(3 0 30 0);
}

.gs-rating__disc {
    position        : relative;
    display         : flex;
    flex-flow       : column;
    justify-content : center;
    align-items     : center;
    flex            : 0 0 rem-calc($grid-col-width-basis);
    width           : rem-calc($grid-col-width-basis);
    height          : rem-calc($grid-col-width-basis);
    border-radius   : 50%;
    background      : $primary;
}

@each $gs-rating-color-key, $gs-rating-color in $gs-rating-colors {

    .gs-rating__disc--#{$gs-rating-color-key} {
        background : $gs-rating-color;
    }

}

.gs-rating__disc__score {
    font-size   : rem-calc(48);
    color       : $white;
    @include sans-bold;
}

.gs-rating__disc__sub {
    position    : absolute;
    top         : 100%;
    left        : 50%;
    margin      : rem-calc(3 0 0);
    transform   : translateX(-50%);
    font-size   : rem-calc(11);
    color       : $gray-500;
    text-align  : center;
    line-height : rem-calc(12);
    @include sans-bold;
}

.gs-rating__info {
    margin-left : rem-calc($unit-grid-gutter);
}

.gs-rating__school {
    font-size   : rem-calc(21);
    @include sans-light;
}

.gs-rating__school__age {
    font-size   : rem-calc(14);
    @include sans-bold;
}
