// *******************************************
// *******************************************

    // Price component

// *******************************************
// *******************************************

// container element
.price {
    white-space : nowrap;
}

// value
.price__value {
    font-size   : rem-calc(24);
    color       : $gray-800;
    line-height : rem-calc(24);
    @include sans-light;
}

// $ superscript
.price__sup {
    display : inline-block;
    margin  : rem-calc(0 -6 0 0);
}

.price__savings {
    font-size      : rem-calc(16);
    color          : $primary;
    text-transform : uppercase;
    line-height    : rem-calc(16);
    @include sans-bold;
}
