// *******************************************
// *******************************************

    // Testimonial component

// *******************************************
// *******************************************

// @vars
$mobile-edge-space : $unit-sm-edge-space; // settings/layout-units

.testimonial__quote {
    padding       : rem-calc($mobile-edge-space);
    overflow      : hidden;
    border-bottom : 1px solid $gray-200;

    @include min-screen($breakpoint-md) {
        padding : rem-calc($unit-default-spacing * 6);
    }

    > :last-child {
        margin-bottom : 0;
    }

}

.testimonial__info {
    display     : flex;
    align-items : center;
}

.testimonial__received {
    margin     : rem-calc(0 9);
    padding    : rem-calc(6);
    background : $primary;
    color      : $white;
}
