.starting-april {
  font-style: italic;
}

.week-vacation {
  font-weight: bold;
  font-size: 20px;
}

.rountrip-airfare {
  text-align: left; 
  font-style: italic; 
  margin-left:10px;
}

.flex-item-images {
  width: 300px; 
  height: 221px; 
  margin-top: 20px;
}

.flex-item-image-greetings {
  width: 300px; 
  height: 221px; 
  margin-top: 20px;
}

.zhou-ling {
  margin-top: 10px; 
  font-weight: bold;
  font-size: 20px;
}

.frame-size {
  text-align: left; 
  font-style: italic; 
}

.flex-item-zhou-ling-image {
  width: 91%;
  height: 91%;
  margin-top: 20px;
}

.disclaimer {
  line-height: 14px; 
  font-size: 10px; 
  margin-bottom: 20px;
}

.sre-center {
  margin-top: 20px; 
  margin-bottom: 20px;
} 