.branches-title {
    margin-bottom: 0;
    padding-bottom: 0;
}

.branches-subtitle {
    margin-top: .7rem;
    margin-bottom: 1rem;
}

.branch {
    color: #5dade2;
    text-decoration: none;
    line-height: 2em;
}

.branch:hover {
    color: #33DAFF;
    text-decoration: none;
    line-height: 2em;
}